<h1>Editar usuario</h1>

<div class="well">
  <form #formUsuario="ngForm">
    <div class="form-group">
      <div class="row">

        <div class="col col-md-2">
          
          <label for="nome" class="col-form-label col-form-label-sm">Nome</label>
          <input type="text" class="form-control" id="nome" name="nome" [(ngModel)]="usuario.nome" #nome="ngModel"
            required>
          
        </div>

        <div class="col col-md-2">
          
          <label for="sobrenome" class="col-form-label col-form-label-sm">Sobrenome</label>
          <input type="text" class="form-control" id="sobrenome" name="sobrenome" [(ngModel)]="usuario.sobrenome"
            #sobrenome="ngModel" required>
          
        </div>

        <div class="col col-md-3">
          
          <label for="email" class="col-form-label col-form-label-sm">email</label>
          <input type="text" class="form-control" id="email" name="email" [(ngModel)]="usuario.email" #email="ngModel"
            required>
         
        </div>

        <div class="col col-md-2">
            
          <label for="dataNascimento" class="col-form-label col-form-label-sm">Data de nascimento</label>
          <input type="text" class="form-control" id="dataNascimento" name="dataNascimento" [(ngModel)]="usuario.dataNascimento" #dataNascimento="ngModel"
            required>
         
        </div>

        <div class="col col-md-2">
          <label for="escolaridade" class="col-form-label col-form-label-sm">Escolaridade</label>
          <select name="escolaridade" id="escolaridade" class="form-control"[(ngModel)]="usuario.escolaridade" #email="ngModel">
            <option value="">Selecione uma escolaridade</option>
            <option value="infantil">Infantil</option>
            <option value="fundamental">fundamental</option>
            <option value="medio">Médio</option>
            <option value="superior">Superior</option>
          </select>
        </div>
      </div>
    </div>
    <div class="form-group text-center">
      <input 
        type="submit"
        class="btn btn-success"
        (click)="atualizar()"
        value="Atualizar"
        [disabled]="!formUsuario.form.valid" >
      <a [routerLink]="['/usuarios']"
        class="btn btn-default">
        <span class="glyphicon glyphicon-chevron-left" 
          aria-hidden="true"></span> Voltar
      </a>
    </div>
  </form>
</div>
